.resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

 // https://stackoverflow.com/questions/38781104/how-to-create-disabled-state-of-the-font-awesome-icons
.fas.disabled,
.fas[disabled],
.disabled > .fas,
[disabled] > .fas {
  opacity: 0.3;
  /*optional*/ cursor: not-allowed;
  /*optional*/ pointer-events: none;
}

.fa-border {
  border-color: saddlebrown;
}

.tooltip_templates { display: none; }

table.attributes {
}

table.abilties {
  .abilties-firstcolumn {
    width: 40%;
  }

  .abilties-thirdcolumn {
    width: 45%;
  }
}

table.weapons {
  .weapon-name-column {
    width: 30%;
  }
  .weapon-damage-column {
  }
  .weapon-range-column {
    width: 30%;
  }
}

table.wounds {
  margin-top: 5px;

  input.wound {
    text-align: center;
    width: 40px;
    margin-bottom: 2px;
  }

  input.bloodloss {
    color: white;
    background-color: darkred;
  }

  input.bleeding-damage {
    border-color: crimson;
    border-width: 4px;
  }

  .total-wounds {
    color: saddlebrown;
    font-size: 200%;
  }
}

table.armour {
  label {
    margin-left: 4px;
    margin-right: 4px;
  }
}

table.events {
  col.event {
    width: 50%;
  }
}

.left-align-text {
  text-align: left;
  padding-left: 4px;
}
