<form class="{{cssClass}} flexcol" autocomplete="off" autocapitalize="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- header --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" data-dtype="String"></h1>
            <div class="grid grid-2col">
                <div class="info-grid-form">
                    <label class="resource-label" for="data.age">{{localize "MAELSTROM.character.age.label"}}</label>
                    <input type="text" name="data.age" value="{{data.age}}" data-dtype="Number">

                    <label class="resource-label" for="data.race">{{localize "MAELSTROM.character.race.label"}}</label>
                    <input type="text" name="data.race" value="{{data.race}}" data-dtype="String">

                    <label class="resource-label" for="data.sex">{{localize "MAELSTROM.character.sex.label"}}</label>
                    <input type="text" name="data.sex" value="{{data.sex}}" data-dtype="String">

                    <label class="resource-label" for="data.social">{{localize "MAELSTROM.character.social.label"}}</label>
                    <input type="text" name="data.social" value="{{data.social}}" data-dtype="String">
                </div>

                <div class="info-grid-form">
                    <label class="resource-label" for="data.imbalance">{{localize "MAELSTROM.character.imbalance.label"}}</label>
                    <input type="text" name="data.imbalance" value="{{data.imbalance}}" data-dtype="String">

					<label class="resource-label" for="data.favour">{{#if (eq maelstromFlavour 2)}}{{localize "MAELSTROM.character.renown.label"}}{{else}}{{localize "MAELSTROM.character.favour.label"}}{{/if}}</label>
                    <input type="text" name="data.favour" value="{{data.favour}}" data-dtype="String">

                    <label class="resource-label" for="data.patron">{{localize "MAELSTROM.character.patron.label"}}</label>
                    <input type="text" name="data.patron" value="{{data.patron}}" data-dtype="String">

                    <label class="resource-label" for="data.money.amount">{{localize "MAELSTROM.character.money.label"}}</label>
                    <input type="text" name="data.money.amount" value="{{data.money.amount}}" data-dtype="String">
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes" data-group="primary">{{localize "MAELSTROM.sheet.tabs.attributes"}}</a>
        <a class="item" data-tab="equipment" data-group="primary">{{localize "MAELSTROM.sheet.tabs.equip"}}</a>
        <a class="item" data-tab="description" data-group="primary">{{localize "MAELSTROM.sheet.tabs.description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Main sheet tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="resources grid grid-2col">
                <div class="resource flex-group-center">
                    <table class="attributes">
                        <thead>
                        <tr>
                            <td colspan="5">{{localize "MAELSTROM.attribute.title"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Orig.</td>
                            <td></td>
                            <td>Temp.</td>
                            <td>Used</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data.attributes as |attribute key|}}
                            <tr>
                                <td class="left-align-text"><label for="data.attributes.{{key}}.temp" class="resource-label" title="{{localize (concat "MAELSTROM.attribute.detail." key)}}">{{localize (concat "MAELSTROM.attribute.name." key)}}</label></td>
                                <td><input type="text" name="data.attributes.{{key}}.orig" value="{{attribute.orig}}" data-dtype="Number"/></td>
                                <td><a class="item-control attribute-roll" data-attribute="{{key}}" title="{{localize (concat "MAELSTROM.attribute.roll." key)}}"><i class="fas fa-dice"></i></a></td>
                                <td><input type="text" name="data.attributes.{{key}}.temp" value="{{attribute.temp}}" data-dtype="Number"/></td>
                                <td><input type="checkbox" name="data.attributes.{{key}}.used" {{checked attribute.used}} data-dtype="Boolean"/></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>

                    {{!-- Wounds --}}
                    <table class="wounds">
                        <thead>
                        <tr>
                            <td colspan="2">{{localize "MAELSTROM.wounds.header"}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="grid-wounds">
                                    <div class="flex-group-left">
                                        {{#each data.wounds.wounds as |wound|}}
                                            {{# if @last}}
                                                {{#if (isZero ../data.wounds.bloodloss)}}
                                                    <i class="fas fa-plus fa-border disabled"></i>
                                                {{else}}
                                                    <a class="item-control item-add-bleeding-damage" title="{{localize "MAELSTROM.wounds.wounds.bleeding.damage.one.round"}}"><i class="fas fa-plus fa-border"></i></a>
                                                {{/if}}
                                                <input type="text" class="wound bleeding-damage" name="data.wounds.wounds.[{{@index}}]" value="{{isZeroThenBlank wound}}" data-dtype="Number" title="{{localize "MAELSTROM.wounds.wounds.bloodloss.damage"}}"/></label>
                                            {{else}}
                                                <input type="text" class="wound" name="data.wounds.wounds.[{{@index}}]" value="{{isZeroThenBlank wound}}" data-dtype="Number" title="{{localize "MAELSTROM.wounds.wounds.index" index=@index}}"/>
                                            {{/if}}
                                        {{/each}}
                                        <input type="text" name="data.wounds.bloodloss" class="bloodloss wound" value="{{isZeroThenBlank data.wounds.bloodloss}}" data-dtype="Number" title="{{localize "MAELSTROM.wounds.wounds.bleeding.title"}}"/>
                                    </div>
                                    <div class="flex-group-center">
                                        <strong title="{{localize "MAELSTROM.wounds.total.title"}}">{{localize "MAELSTROM.wounds.total.header"}}</strong>
                                        {{#if (gt data.hp.wounds 0)}}
                                            <a class="item-control item-heal-wounds" title="{{localize "MAELSTROM.wounds.heal.one"}}"><i class="fas fa-stethoscope fa-border"></i></a>
                                        {{else}}
                                            <i class="fas fa-stethoscope fa-border disabled"></i>
                                        {{/if}}
                                        <br>
                                        {{#if (gt data.hp.wounds data.attributes.endurance.current)}}
                                            {{#if (gt data.hp.wounds data.hp.max)}}
                                                <i class="fas fa-skull-crossbones total-wounds" title="{{localize "MAELSTROM.wounds.total.status.dead"}}"></i>
                                            {{else}}
                                                <i class="fas fa-dizzy total-wounds" title="{{localize "MAELSTROM.wounds.total.status.unconscious"}}"></i>
                                            {{/if}}
                                        {{/if}}
                                        <span class="total-wounds" title="{{localize "MAELSTROM.wounds.total.title"}}">{{data.hp.wounds}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="left-align-text"><label for="data.wounds.injuries" class="resource-label" title="{{localize "MAELSTROM.wounds.injuries.title"}}">{{localize "MAELSTROM.wounds.injuries.label"}}</label></td>
                            <td><textarea name="data.wounds.injuries" rows="2">{{data.wounds.injuries}}</textarea> </td>
                        </tr>
                        <tr>
                            <td class="left-align-text"><label for="data.wounds.longterm" class="resource-label" title="{{localize "MAELSTROM.wounds.longterm.title"}}">{{localize "MAELSTROM.wounds.longterm.label"}}</label></td>
                            <td><textarea name="data.wounds.longterm" rows="2">{{data.wounds.longterm}}</textarea> </td>
                        </tr>
                        </tbody>
                    </table>

                    {{!-- Armour --}}
                    <table class="armour">
                        <thead>
                        <tr>
                            <td colspan="4">{{localize "MAELSTROM.armour.header"}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="1" class="left-align-text">
                                <label for="data.armour.armour" class="resource-label" title="{{localize "MAELSTROM.armour.armour.title"}}">{{localize "MAELSTROM.armour.armour.label"}}</label>
                            </td>
                            <td colspan="3">
                                <input type="text" name="data.armour.armour" value="{{data.armour.armour}}" data-dtype="String" title="{{localize "MAELSTROM.armour.armour.title"}}">
                            </td>
                        </tr>
                        <tr>
                            <td class="left-align-text">
                                <label for="data.armour.ar" class="resource-label" title="{{localize "MAELSTROM.armour.ar.title"}}">{{localize "MAELSTROM.armour.ar.label"}}</label>
                            </td>
                            <td>
                                <input type="text" name="data.armour.ar" value="{{isZeroThenBlank data.armour.ar}}" data-dtype="Number" title="{{localize "MAELSTROM.armour.ar.title"}}">
                            </td>
                            <td class="left-align-text">
                                <label for="data.armour.penalty" class="resource-label" title="{{localize "MAELSTROM.armour.penalty.title"}}">{{localize "MAELSTROM.armour.penalty.label"}}</label>
                            </td>
                            <td>
                                <input type="text" name="data.armour.penalty" value="{{isZeroThenBlank data.armour.penalty}}" data-dtype="Number" title="{{localize "MAELSTROM.armour.penalty.title"}}">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                {{!-- Next column --}}
                <div class="resource flex-group-center">
                    {{!-- Characteristics --}}
                    <table class="characteristics">
                        <thead>
                        <tr>
                            <td>{{localize "MAELSTROM.characteristics.header"}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" name="data.characteristics.characteristic1" value="{{data.characteristics.characteristic1}}" data-dtype="String"/></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="data.characteristics.characteristic2" value="{{data.characteristics.characteristic2}}" data-dtype="String"/></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="data.characteristics.characteristic3" value="{{data.characteristics.characteristic3}}" data-dtype="String"/></td>
                        </tr>
                        </tbody>
                    </table>

                    {{!-- Abilities table --}}
                    <table class="abilties">
                        <colgroup>
                            <col>
                            <col class="abilties-firstcolumn">
                            <col>
                            <col class="abilties-thirdcolumn">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <td colspan="5">{{localize "MAELSTROM.abilities.header"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{localize "MAELSTROM.abilities.column.ability.title"}}</td>
                            <td>{{localize "MAELSTROM.abilities.column.rank.title"}}</td>
                            <td>{{localize "MAELSTROM.abilities.column.benefit.title"}}</td>
                            <td>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="{{localize "MAELSTROM.abilities.controls.add"}}" data-type="ability"><i class="fas fa-plus"></i></a>
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data.abilities as |ability key|}}
                            <tr class="item" data-item-id="{{ability.id}}">
                                <td>{{#ifEmptyOrWhitespace ability.data.data.notes}}
                                        <i class="fas fa-info-circle disabled"></i>
                                    {{else}}
                                        <span class="tooltip" data-tooltip-content="#tooltip_content_{{ability.id}}"><i class="fas fa-info-circle"></i></span>
                                {{/ifEmptyOrWhitespace}}</td>
                                <td class="left-align-text">{{ability.name}}</td>
                                <td class="left-align-text">{{ability.data.data.rank}}</td>
                                <td class="left-align-text">{{ability.data.data.benefit}}</td>
                                <td>
                                    <div class="item-controls">
                                        <a class="item-control item-edit" title="{{localize "MAELSTROM.abilities.controls.edit"}}"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="{{localize "MAELSTROM.abilities.controls.delete"}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>

                    {{!-- Weapons/Swords/Stored Rolls --}}
                    <table class="weapons">
                        <colgroup>
                            <col>
                            <col class="weapon-name-column">
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col class="weapon-damage-column">
                            <col class="weapon-range-column">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <td colspan="10">{{localize "MAELSTROM.weapons.header"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{localize "MAELSTROM.weapons.column.weapon.title"}}</td>
                            <td></td>
                            <td>{{localize "MAELSTROM.weapons.column.as.title"}}</td>
                            <td></td>
                            <td>{{localize "MAELSTROM.weapons.column.ds.title"}}</td>
                            <td></td>
                            <td>{{localize "MAELSTROM.weapons.column.damage.title"}}</td>
                            <td>{{localize "MAELSTROM.weapons.column.range.title"}}</td>
                            <td>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="{{localize "MAELSTROM.weapons.controls.add"}}" data-type="weapon"><i class="fas fa-plus"></i></a>
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data.weapons as |weapon key|}}
                            <tr class="item" data-item-id="{{weapon.id}}">
                                <td>{{#ifEmptyOrWhitespace weapon.data.data.notes}}
                                    <i class="fas fa-info-circle disabled"></i>
                                {{else}}
                                    <span class="tooltip" data-tooltip-content="#tooltip_content_{{weapon.id}}"><i class="fas fa-info-circle"></i></span>
                                {{/ifEmptyOrWhitespace}}</td>
                                <td class="left-align-text">{{weapon.name}}</td>
                                <td><a class="item-control weapon-roll" data-attribute="{{weapon.data.data.attributes.attack}}" data-name="{{weapon.name}}" data-modifier="{{weapon.data.data.as}}" title="{{localize "MAELSTROM.weapons.roll.attack"}}"><i class="fas fa-dice"></i></a></td>
                                <td>{{weapon.data.data.as}}</td>
                                <td><a class="item-control weapon-roll" data-attribute="{{weapon.data.data.attributes.defence}}" data-name="{{weapon.name}}" data-modifier="{{weapon.data.data.ds}}" title="{{localize "MAELSTROM.weapons.roll.defence"}}"><i class="fas fa-dice"></i></a></td>
                                <td>{{weapon.data.data.ds}}</td>
                                <td>{{#ifEmptyOrWhitespace weapon.data.data.damage}}
                                        <i class="fas fa-dice-d20 disabled"></i>
                                    {{else}}
                                        <a class="item-control weapon-damage" data-damage="{{weapon.data.data.damage}}" data-name="{{weapon.name}}" title="{{localize "MAELSTROM.weapons.roll.damage"}}"><i class="fas fa-dice-d20"></i></a>
                                    {{/ifEmptyOrWhitespace}}
                                </td>
                                <td class="left-align-text">{{weapon.data.data.damage}}</td>
                                <td class="left-align-text">{{weapon.data.data.range}}</td>
                                <td>
                                    <div class="item-controls">
                                        <a class="item-control item-edit" title="{{localize "MAELSTROM.weapons.controls.edit"}}"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="{{localize "MAELSTROM.weapons.controls.delete"}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>

                    <table class="initiative">
                        <thead>
                            <tr>
                                <td colspan="3">{{localize "MAELSTROM.initiative.header"}}</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><label for="data.initiative.modifier" class="resource-label">{{localize "MAELSTROM.initiative.label"}}</label></td>
                            <td><a class="item-control roll-initiative" title="{{localize "MAELSTROM.initiative.roll.title"}}"><i class="fas fa-dice-d20"></i></a></td>
                            <td><input type="text" name="data.initiative.modifier" value="{{data.initiative.modifier}}" title="{{localize "MAELSTROM.initiative.modifier.title"}}" data-dtype="Number"></td>
                        </tr>
                        </tbody>
                    </table>

                    {{!-- Hidden tooltip HTML content --}}
                    <div class="tooltip_templates">
                        {{#each data.abilities as |ability key|}}
                        <div id="tooltip_content_{{ability.id}}">
                            <img src="{{ability.img}}" title="{{ability.name}}" alt="{{ability.name}}" height="50"/>
                            <h1 style="display: inline; margin-left: 4px;">{{ability.name}}</h1>
                            <table>
                                <tbody>
                                <tr>
                                    <td>{{localize "MAELSTROM.abilities.column.rank.title"}}</td>
                                    <td>{{ability.data.data.rank}}</td>
                                </tr>
                                <tr>
                                    <td>{{localize "MAELSTROM.abilities.column.benefit.title"}}</td>
                                    <td>{{ability.data.data.benefit}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            {{!-- raw html output --}}
                            {{{ability.data.data.notes}}}
                        </div>
                        {{/each}}

                        {{#each data.weapons as |weapon key|}}
                            <div id="tooltip_content_{{weapon.id}}">
                                <img src="{{weapon.img}}" title="{{weapon.name}}" alt="{{weapon.name}}" height="50"/>
                                <h1 style="display: inline; margin-left: 4px;">{{weapon.name}}</h1>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>{{localize "MAELSTROM.weapons.column.as.title"}}</td>
                                        <td>{{weapon.data.data.as}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{localize "MAELSTROM.weapons.column.ds.title"}}</td>
                                        <td>{{weapon.data.data.ds}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{localize "MAELSTROM.weapons.column.damage.title"}}</td>
                                        <td>{{weapon.data.data.damage}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{localize "MAELSTROM.weapons.column.range.title"}}</td>
                                        <td>{{weapon.data.data.range}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr>
                                {{!-- raw html output --}}
                                {{{weapon.data.data.notes}}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        {{!-- equipment / events / supernatural / languages tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <label for="data.events.supernatural" class="resource-label">{{localize "MAELSTROM.events.supernatural.header"}}</label>
            <input type="text" name="data.events.supernatural" value="{{data.events.supernatural}}" data-dtype="String">
            <div class="resources grid grid-2col">
                <div class="resource flex-group-center">
                    <label for="data.notes" class="resource-label">{{localize "MAELSTROM.notes.header"}}</label>
                    <textarea name="data.notes" rows="10" >{{data.notes}}</textarea>
                    <hr>
                    <label for="data.equipment" class="resource-label">{{localize "MAELSTROM.equipment.header"}}</label>
                    <textarea name="data.equipment" rows="25" >{{data.equipment}}</textarea>
                </div>
                <div class="resource flex-group-center">
                    <table class="events">
                        <colgroup>
                            <col>
                            <col>
                            <col class="event">
                        </colgroup>
                        <thead>
                        <tr>
                            <td colspan="3">{{localize "MAELSTROM.events.header"}}</td>
                        </tr>
                        <tr>
                            <td>{{localize "MAELSTROM.events.column.living.header"}}</td>
                            <td>{{localize "MAELSTROM.events.column.years.header"}}</td>
                            <td>{{localize "MAELSTROM.events.column.event.header"}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="left-align-text">
                            <td><input type="text" name="data.events.careers.c1.living" value="{{data.events.careers.c1.living}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c1.years" value="{{data.events.careers.c1.years}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c1.event" value="{{data.events.careers.c1.event}}" data-dtype="String"></td>
                        </tr>
                        <tr class="left-align-text">
                            <td><input type="text" name="data.events.careers.c2.living" value="{{data.events.careers.c2.living}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c2.years" value="{{data.events.careers.c2.years}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c2.event" value="{{data.events.careers.c2.event}}" data-dtype="String"></td>
                        </tr>
                        <tr class="left-align-text">
                            <td><input type="text" name="data.events.careers.c3.living" value="{{data.events.careers.c3.living}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c3.years" value="{{data.events.careers.c3.years}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c3.event" value="{{data.events.careers.c3.event}}" data-dtype="String"></td>
                        </tr>
                        <tr class="left-align-text">
                            <td><input type="text" name="data.events.careers.c4.living" value="{{data.events.careers.c4.living}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c4.years" value="{{data.events.careers.c4.years}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c4.event" value="{{data.events.careers.c4.event}}" data-dtype="String"></td>
                        </tr>
                        <tr class="left-align-text">
                            <td><input type="text" name="data.events.careers.c5.living" value="{{data.events.careers.c5.living}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c5.years" value="{{data.events.careers.c5.years}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c5.event" value="{{data.events.careers.c5.event}}" data-dtype="String"></td>
                        </tr>
                        <tr class="left-align-text">
                            <td><input type="text" name="data.events.careers.c6.living" value="{{data.events.careers.c6.living}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c6.years" value="{{data.events.careers.c6.years}}" data-dtype="String"></td>
                            <td><input type="text" name="data.events.careers.c6.event" value="{{data.events.careers.c6.event}}" data-dtype="String"></td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="languages">
                        <thead>
                        <tr>
                            <td colspan="2">{{localize "MAELSTROM.languages.header"}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" name="data.languages.lang1" value="{{data.languages.lang1}}" data-dtype="String"></td>
                            <td><input type="text" name="data.languages.lang2" value="{{data.languages.lang2}}" data-dtype="String"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="data.languages.lang3" value="{{data.languages.lang3}}" data-dtype="String"></td>
                            <td><input type="text" name="data.languages.lang4" value="{{data.languages.lang4}}" data-dtype="String"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>
