<form id="{{dialogid}}" class="{{cssClass}} modifier form-group" autocomplete="off">
    <div>
        <label for="modifier" class="resource-label margin-right-quarter">{{localize "MAELSTROM.roll.modifier.label"}}</label>
        <input type="number" name="modifier" class="normal-width select-on-focus" value="{{modifier}}" title="{{localize "MAELSTROM.roll.modifier.title"}}" autofocus data-dtype="Number">
    </div>
    <div class="clearfix">
        <div class="right margin-top-on">
            <button type="button" id="apply-modifier">{{localize "MAELSTROM.roll.button.continue"}}</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $(".form-group input[name='modifier']").focus();
    });
</script>`,
