<form class="{{cssClass}} modifier" autocomplete="off">
    <div>
        <label for="modifier">{{localize "MAELSTROM.roll.modifier.label"}}</label>
        <input type="text" name="modifier" value="{{modifier}}" title="{{localize "MAELSTROM.roll.modifier.title"}}" data-dtype="Number>
    </div>
    <div class="grid grid-2col">
        <div class="flex-group-center"></div>
        <div class="flex-group-right">
            <button type="button" id="apply-modifier">{{localize "MAELSTROM.roll.button.continue"}}</button>
        </div>
    </div>
</form>
